<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/app/scripts/DashboardController.js"></script>

<style>
    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.4em;
        line-height: 1.8em;
    }

    .sales-info {
        background-color: aliceblue;
        padding: 10px;
        padding-left: 15%;
    }
</style>
<section class="wrapper">
    <div ng-app="app" ng-controller="Dashboard" ng-cloak>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="breadcum" ng-if="isMember">
                    My referral link: <span style="color:white">btcpro.co/{{user}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" ng-click="CashWallet();">
                <div class="mini-stat clearfix" style="background-color:#ef7755;color:white;cursor:pointer">
                    <span class="mini-stat-icon orange"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.CashWalletBalance | currency}}</span>
                        <p>Cash Wallet Balance</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-click="ReserveWallet();">
                <div class="mini-stat clearfix" style="background-color:#1ea59d;color:white;cursor:pointer">
                    <span class="mini-stat-icon tar"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.ReserveWalletBalance | currency}}</span>
                        <p style="margin-right:-5px !important">Reserve Wallet Balance</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-click="ReturnWallet();">
                <div class="mini-stat clearfix" style="background-color:#957fbe;color:white;cursor:pointer">
                    <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.ReturnWalletBalance | currency}}</span>
                        <p>Return Wallet Balance</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-click="TeamMembers();">
                <div class="mini-stat clearfix" style="background-color:#98b960;color:white;cursor:pointer">
                    <span class="mini-stat-icon green"><i class="fa fa-gavel"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.TotalTeamMembers}}</span>
                        <p>Total Team Members</p>
                    </div>
                </div>
            </div>

            @*<div class="hidden-lg col-md-3">
                <div class="mini-stat clearfix" style="background-color:#98b960;color:white;cursor:pointer" ng-click="TeamMembers();">
                    <div class="col-md-12" style="margin-left:-20px !important">
                        <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                    </div>
                    <div class="mini-stat-info">
                        <div class="col-md-12" style="margin-left:-20px !important">
                            <span>{{data.TotalTeamMembers}}</span>
                        </div>
                        <div class="col-md-12" style="margin-left:-20px !important;margin-right:-5px !important">
                            <p style="margin-right:-35px !important">Total Team Members</p>
                        </div>

                    </div>
                </div>
            </div>*@
            @*<div class="hidden-md hidden-sm hidden-xs col-md-3" style="background-color:#98b960;color:white;cursor:pointer" ng-click="TeamMembers();">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.TotalTeamMembers}}</span>
                        <p style="margin-right:-35px !important">Total Team Members</p>
                    </div>
                </div>
                <div class="mini-stat clearfix" style="background-color:#98b960;color:white;cursor:pointer">
                    <span class="mini-stat-icon green"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.TotalTeamMembers}}</span>
                        <p>Total Team Members</p>
                    </div>
                </div>
            </div>*@
            
        </div>

        <div class="row">
            <div class="col-md-3" style="cursor:pointer" ng-click="MyRepurchase();">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.EthereumCashWalletBalance | currency:'ETH '}}</span>
                        <p style="margin-right:-20px !important">Etheruem Cash Wallet Balance</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix" style="cursor:pointer">
                    <span class="mini-stat-icon tar"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.EthereumWalletBalance | currency:'ETH '}}</span>
                        <p>Ethereum Wallet Balance</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mini-stat clearfix" style="cursor:not-allowed">
                    <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.EthereumReturnWalletBalance | currency:'ETH '}}</span>
                        <p>Ethereum Return Wallet Bal.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="cursor:pointer">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon green"><i class="fa fa-tag"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.TotalTeamBusiness | currency}}</span>
                        <p>Total Team Business</p>
                    </div>
                </div>
            </div>

            @*<div class="col-md-3" style="cursor:pointer" ng-click="MyPurchase();">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>{{data.InitialInvestment | currency}}</span>
                        <p>My Initial Investment</p>
                    </div>
                </div>
            </div>*@
           
        </div>

        <div class="row">
            <div class="col-md-9">
                <!--earning graph start-->
                <section class="panel">
                    <header class="panel-heading">
                        <span>BTC Pro News</span> <span style="float:right"><a style="text-decoration:underline;cursor:pointer" ng-click="listClick()" ng-hide="list">Back to list</a></span>
                    </header>
                    <div class="panel-body">
                        <div ng-show="list">
                            <div class="row" ng-repeat="report in allReports" style="border-bottom:1px solid #e7e5e5;margin-top:5px">
                                <div class="col-md-3">
                                    <img src="https://www.btcpro.co/BtcLibrary/Images/{{report.ImageFileName}}" style="padding-top:10px;padding-left:10px;width:100%;height:100%" />
                                </div>
                                <div class="col-md-9">
                                    <h4 style="color:#0d69df"><a style="cursor:pointer" ng-click="showreport(report)"><b>{{report.NewsItemTitle}}</b></a></h4>
                                    <p style="padding-top:2px;text-align:justify;padding-right:13px" class="max-lines">{{report.NewsItemBody}}</p>
                                    <div class="col-md-4">
                                        <span style="font-size:small;margin-left:-15px"><a style="cursor:pointer" ng-click="showreport(report)">Read more...</a><span style="font-size:medium">></span></span>
                                    </div>
                                    <div class="col-md-8" style="text-align:right;padding-top:5px">
                                        <b>BTC Pro Management</b> {{report.CreatedDate | date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!list">
                            <div class="col-md-9" style="padding-top:10px">
                                <h4 style="color:#0d69df"><b>{{selectedreport.NewsItemTitle}}</b></h4><br />
                                <p>{{selectedreport.CreatedDate | date}}</p>
                                @*<div style="padding-top:2px;text-align:justify" ng-bind-html="trustedSelectedReport"></div>*@
                                <span ng-bind-html="trustedSelectedReport"></span>
                                <div class="col-md-12" style="text-align:left;padding-top:5px;margin-left:-15px">
                                    <b>BTC Pro Management</b>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-top:90px">
                                <img src="https://www.btcpro.co/BtcLibrary/Images/{{selectedreport.ImageFileName}}" style="padding-top:10px;padding-left:10px;width:100%;height:100%" />

                            </div>
                        </div>
                    </div>
                </section>
                <!--earning graph end-->
            </div>
            <div class="col-md-3">
                <!--widget graph start-->
                <section class="panel">
                    <header class="panel-heading">
                        <span>Sales Overview</span> <span style="float:right"><a style="text-decoration:underline;cursor:pointer" ng-click="listClick()" ng-hide="list">Back to list</a></span>
                    </header>
                    <div class="panel-body">
                        <div class="mini-stat-info sales-info" style="background-color: #64fbc8;">
                            <span>{{total_joining}}</span>
                            <p>Total Members</p>
                        </div>
                        <div class="mini-stat-info sales-info" style="background-color: #fff6c8;">
                            <span>{{data.total_investment | currency}}</span>
                            <p>Total Investment</p>
                        </div>
                        <div class="mini-stat-info sales-info" style="background-color: #fbc1f4;">
                            <span>{{data.total_payout | currency}}</span>
                            <p>Total Payout</p>
                        </div>
                        <div class="mini-stat-info sales-info" style="background-color: cyan;">
                            <span>{{data.current_investment | currency}}</span>
                            <p>Current Week Investment</p>
                        </div>
                        <div class="mini-stat-info sales-info" style="background-color: #e7c69c;">
                            <span>{{data.current_payout | currency}}</span>
                            <p>Current Week Payout</p>
                        </div>
                    </div>
                </section>
                <!--widget graph end-->
                <!--widget weather start-->
                <!--widget weather end-->

            </div>
        </div>

    </div>
</section>

