<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/scripts/MemberWalletsController.js"></script>

<section class="wrapper" style="background-color:rgba(211, 211, 211, 0.5)">
    <div ng-app="app" ng-controller="MemberWallet" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-sitemap" style="color:green"></i> Member Wallets Balance
                    </header>
                    <div class="panel-body">
                        <div style="margin-bottom:10px;min-height:40px">
                            <div class="col-md-2" style="vertical-align:middle;padding-top:8px">Search :&nbsp;<i class="fa fa-search"></i></div>
                            <div class="col-md-4"><input type="text" class="form-control" ng-model="searchText" placeholder="Input search text here" /></div><div class="col-md-6"></div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Member Id</th>
                                        <th>Cash Wallet</th>
                                        <th>Reserve Wallet</th>
                                        <th>Return Wallet</th>
                                        <th>Ethereum Wallet</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="member in members | filter:searchText">
                                        <td>{{member.MemberName}}</td>
                                        <td>{{member.CashWalletAmount | currency}}</td>
                                        <td>{{member.ReserveWalletAmount | currency}}</td>
                                        <td>{{member.ReturnWalletAmount | currency}}</td>
                                        <td>{{member.FrozenWalletAmount | currency}}</td>
                                        <td>{{(member.CashWalletAmount+member.ReserveWalletAmount+member.ReturnWalletAmount+member.FrozenWalletAmount) | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>




