<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/scripts/PackageShopController.js"></script>

<!--main content start-->

<section class="wrapper">
    <div ng-app="app" ng-controller="PackageShop" ng-cloak>
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">

                <section class="panel" ng-hide="isProductSelected">
                    <header class="panel-heading">
                        <i class="fa fa-shopping-cart"></i> Products Table
                    </header>
                    <div class="panel-body">
                        <!--price start-->
                        <div class="text-center price-head" style="padding:0px !important">
                            <h1 class="color-terques"> Earn handsomely from all the packages </h1>
                            <p>Assured Return. High Sales Dividends. Unlimited earning potential.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-hide="hidePurchaseBtn_Pluto">
                            <div class="pricing-table" style="margin-bottom:25px;margin-top:20px;height:800px">
                                <div class="pricing-head" style="background-color:#2f9f9e;">
                                    <h1> Pluto </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important; ">
                                    20$
                                    <h5 style="margin:0px !important">to</h5>
                                    99$
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Weekly (1 Year): 3%</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: 500$</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 5%</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#2f9f9e;" ng-click="isProductSelected=true;packageId=1;selectedProduct='Pluto';minPay=20;maxPay=99;priceToPay='20$ - 99$';payamount=99;walletBalance=walletBalance_USD;currencyToPay='(USD$)'"><span ng-if="upgradeOption==false">Purchase this Plan</span><span ng-if="upgradeOption==true">Upgrade to Plan</span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-hide="hidePurchaseBtn_Jupiter">
                            <div class="pricing-table most-popular"  style="margin-bottom:25px;margin-top:20px;height:800px">
                                <div class="pricing-head" style="background-color:#9c5d7a;">
                                    <h1> Jupiter </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important">
                                    100$
                                    <h5 style="margin:0px !important">to</h5>
                                    2999$
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Weekly (1 Year): 4%</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: 1000$</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 5%,7%</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#9c5d7a !important;" ng-click="isProductSelected=true;packageId=2;selectedProduct='Jupiter';minPay=100;maxPay=2999;priceToPay='100$ - 2999$';payamount=2999;walletBalance=walletBalance_USD;currencyToPay='(USD$)'"><span ng-if="upgradeOption==false">Purchase this Plan</span><span ng-if="upgradeOption==true">Upgrade to Plan</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-hide="hidePurchaseBtn_Earth">
                            <div class="pricing-table" style="margin-bottom:25px;margin-top:20px;height:800px">
                                <div class="pricing-head" style="background-color: #4897cc;">
                                    <h1> Earth  </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important">
                                    3000$
                                    <h5 style="margin:0px !important">to</h5>
                                    5000$
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Weekly (1 Year): 5%</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: 3000$</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 5%,7%,9%</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color: #4897cc;" ng-click="isProductSelected=true;packageId=3;selectedProduct='Earth';minPay=3000;maxPay=5000;priceToPay='3000$ - 5000$';payamount=5000;walletBalance=walletBalance_USD;currencyToPay='(USD$)'"><span ng-if="upgradeOption==false">Purchase this Plan</span><span ng-if="upgradeOption==true">Upgrade to Plan</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:20px" ng-hide="$scope.hidePurchaseBtn_Amazing ">
                            <div class="pricing-table most-popular"  style="margin-bottom:25px;height:800px">
                                <div class="pricing-head" style="background-color:#e9a640;">
                                    <h1> Amazing </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important;padding-top:55px">
                                    20000$
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> 24$ THS Mining Power</li>
                                    <li><i class="fa fa-check"></i> SHA - 256 Asic Mining</li>
                                    <li><i class="fa fa-check"></i> Diamond Club member from beginning</li>
                                    <li><i class="fa fa-check"></i> Monthly Returns: 10% - 30%</li>
                                    <li><i class="fa fa-check"></i> Mining Duration: 36 months</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: 20000$</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 5%,7%,9%,10%,15%</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#e9a640 !important;" ng-hide="hidePurchaseBtn_Amazing" ng-click="isProductSelected=true;packageId=6;selectedProduct='Amazing';minPay=20000;maxPay=20000;walletBalance=walletBalance_USD;priceToPay='20000$';payamount=20000;currencyToPay='(USD$)'"><span ng-if="upgradeOption==false">Purchase this Plan</span><span ng-if="upgradeOption==true">Upgrade to Plan</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:20px" ng-hide="$scope.hidePurchaseBtn_OctaCore">
                            <div class="pricing-table most-popular"  style="margin-bottom:25px;height:800px">
                                <div class="pricing-head" style="background-color:#9a85b9;">
                                    <h1> Octa Core </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important;padding-top:55px">
                                    30000$
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> 36$ THS Mining Power (S9)</li>
                                    <li><i class="fa fa-check"></i> SHA - 256 Asic Mining</li>
                                    <li><i class="fa fa-check"></i> Diamond Club member from beginning</li>
                                    <li><i class="fa fa-check"></i> Monthly Returns: 15% - 40%</li>
                                    <li><i class="fa fa-check"></i> Mining Duration: 36 months</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: 30000$</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 5%,7%,9%,10%,15%, 20%</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#9a85b9 !important;" ng-hide="hidePurchaseBtn_OctaCore" ng-click="isProductSelected=true;packageId=7;selectedProduct='Octa Core';minPay=30000;maxPay=30000;priceToPay='30000$';payamount=30000;walletBalance=walletBalance_USD;currencyToPay='(USD$)'"><span ng-if="upgradeOption==false">Purchase this Plan</span><span ng-if="upgradeOption==true">Upgrade to Plan</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:20px;" ng-hide="hidePurchaseBtn_Ethereum">
                            <div class="pricing-table most-popular" style="margin-bottom:25px;height:800px">
                                <div class="pricing-head" style="background-color:#e9408e;">
                                    <h1> Ethereum </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important;padding-top:55px">
                                    10 ETH
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Monthly (2 Years): 7% ETH</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 10%,5%,2%,1%,1%,1%</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Level: As per package default</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#e9408e !important;" ng-hide="hidePurchaseBtn_Ethereum" ng-click="isProductSelected=true;packageId=8;selectedProduct='Ethereum';minPay=10;maxPay=10;priceToPay='10 ETH';payamount=10;walletBalance=walletBalance_ETH;currencyToPay='(ETH)'">Purchase This Plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:20px;" ng-hide="hidePurchaseBtn_EthereumPlus">
                            <div class="pricing-table most-popular" style="margin-bottom:25px;height:800px">
                                <div class="pricing-head" style="background-color:#87b171;">
                                    <h1> Ethereum Plus </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important;padding-top:55px">
                                    20 ETH
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Monthly (3 Years): 10% ETH</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Bonus: 15%,6%,3%,2%,2%,2%</li>
                                    <li><i class="fa fa-check"></i> Generation Matching Level: As per package default</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" style="background-color:#87b171 !important;" ng-hide="hidePurchaseBtn_EthereumPlus" ng-click="isProductSelected=true;packageId=9;selectedProduct='Ethereum Plus';minPay=20;maxPay=20;walletBalance=walletBalance_ETH;priceToPay='20 ETH';payamount=20;currencyToPay='(ETH)'">Purchase This Plan</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="hidePurchaseBtn" style="margin-top:20px">
                            <div class="pricing-table most-popular" style="height:800px">
                                <div class="pricing-head" style="background-color:#00385a;">
                                    <h1> Repurchase </h1>
                                </div>
                                <div class="pricing-quote" style="font-size:32px !important">
                                    20$
                                    <h5 style="margin:0px !important">to</h5>
                                    no limit
                                </div>
                                <ul class="list-unstyled" style="color:black !important">
                                    <li><i class="fa fa-check"></i> Weekly (1 Year): Your first package default</li>
                                    <li><i class="fa fa-check"></i> Introducing Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Binary Bonus: 10%</li>
                                    <li><i class="fa fa-check"></i> Weekly Binary Bonus Limit: Your highest package default</li>
                                    <li><i class="fa fa-check"></i> Generation Matching: Your highest package default</li>
                                </ul>
                                <div class="price-actions">
                                    <a class="btn" ng-click="isProductSelected=true;packageId=5;selectedProduct='Repurchase';minPay=20;maxPay=1000000;walletBalance=walletBalance_USD;priceToPay='20$ and above';payamount=100;currencyToPay='(USD$)'">Purchase This Plan</a>
                                </div>
                            </div>
                        </div>
                        <!--price end-->
                    </div>
                </section>

                <section class="panel" ng-show="isProductSelected && !proceed && !showBitCoinInfo">
                    <header class="panel-heading">
                        <i class="fa fa-shopping-cart"></i> CART
                    </header>
                    <div class="panel-body" style="min-height:150px;text-align:center;font-size:16px">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:125px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading">Selected Product</header>
                            <br />
                            {{selectedProduct}}
                        </div>
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:125px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading">Package Range</header>
                            <br />
                            {{priceToPay}}
                        </div>

                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:125px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading">Purchase Amount {{currencyToPay}}</header>
                            <br />
                            <input type="number" ng-model="payamount" ng-change="payamount_validate()" ng-readonly="minPay==maxPay" />
                            <br /><br />
                            <div style="color:red" ng-hide="errmsg==''"><i class="fa fa-exclamation-circle"></i>&nbsp;{{errmsg}}</div>
                        </div>

                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:125px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading">Action</header>
                            <br />
                            <button class="btn btn-success" ng-click="proceed=true;getbalance()" ng-show="errmsg==''"><i class="fa fa-shopping-cart"></i>  Buy</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="isProductSelected=false">Return</button>
                        </div>
                    </div>
                </section>

                <section class="panel" ng-show="proceed && !showInvoice">
                    
                    <header class="panel-heading">
                        <i class="fa fa-shopping-cart"></i> Select payment method
                    </header>

                    <div class="panel-body" style="min-height:230px;text-align:center;font-size:16px;padding-bottom:0px !important">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px;padding-bottom:5px">
                            <header class="panel-heading">Payment Method</header>
                            <img src="~/Content/e-wallet.png" />
                        </div>
                        <div class="col-sm-5 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading visible-lg visible-md visible-sm hidden-xs">Description</header>
                            <div style="padding:10px;vertical-align:middle;height:150px;text-align:left; padding-top:40px !important"><p>This payment option allows you to pay using the income that you have earned in the system or from the balance received from the system vide manual deposit in the company account.</p></div>

                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading visible-lg visible-md visible-sm hidden-xs">Action</header>
                            <div class="col-xs-8" style="text-align:right;padding-top:20px">e-Wallet Balance :</div>
                            <div class="col-xs-4" style="text-align:left;padding-top:20px;padding-left:0px">{{walletBalance | currency:currencyToPay+' '}}</div>
                            <div class="col-xs-8" style="text-align:right">Wallet Deduction :</div>
                            <div class="col-xs-4" style="text-align:left;padding-left:0px">{{payamount | currency:currencyToPay+' '}}</div>

                            <div>
                                <button ng-show="walletBalance>=payamount && !loader" ng-click="newPurchase();showInvoice=true" class="btn btn-success" style="margin-top:10px">Pay</button><span ng-show="loader"><img src="~/Content/loader.gif" /></span>
                                <label ng-show="walletBalance<payamount" style="color:red"><br/><i class="fa fa-exclamation-triangle"></i> {{errmsg1}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" style="min-height:230px;text-align:center;font-size:16px;padding-top:0px !important;margin-top:15px" ng-hide="currencyToPay=='(ETH)'">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading hidden-lg hidden-md hidden-sm visible-xs">Payment Method</header> 
                             <img src="~/Content/Bitcoin2.png" style="height:132px" />
                        </div>
                        <div class="col-sm-5 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="padding:10px;vertical-align:middle;height:150px;text-align:left; padding-top:40px !important"><p>This option allows you to pay using <b>BitCoin</b>. The transaction details are provided on the next page to complete your purchase.</p></div>
                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="margin-top:50px"><button ng-show="!loaderBTC" class="btn btn-success" style="vertical-align:central" ng-click="loaderBTC=true;bitCoinPurchase('BTC');">Pay with BitCoin</button><span ng-show="loaderBTC"><img src="~/Content/loader.gif" /></span></div>
                        </div>
                    </div>

                    <div class="panel-body" style="min-height:230px;text-align:center;font-size:16px;padding-top:0px !important">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading hidden-lg hidden-md hidden-sm visible-xs">Payment Method</header>
                            <img src="~/Content/Ethereum2.png" style="height:132px" />
                        </div>
                        <div class="col-sm-5 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="padding:10px;vertical-align:middle;height:150px;text-align:left; padding-top:40px !important"><p>This option allows you to pay using <b>Ethereum</b>. The transaction details are provided on the next page to complete your purchase.</p></div>
                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="margin-top:50px"><button ng-show="!loaderETH" class="btn btn-success" style="vertical-align:central" ng-click="loaderETH=true;bitCoinPurchase('ETH');">Pay with Ethereum</button><span ng-show="loaderETH"><img src="~/Content/loader.gif" /></span></div>
                        </div>
                    </div>

                    <div class="panel-body" style="min-height:230px;text-align:center;font-size:16px;padding-top:0px !important" ng-hide="currencyToPay=='(ETH)'">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading hidden-lg hidden-md hidden-sm visible-xs">Payment Method</header>
                            <img src="~/Content/LiteCoin2.png" style="height:132px" />
                        </div>
                        <div class="col-sm-5 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="padding:10px;vertical-align:middle;height:150px;text-align:left; padding-top:40px !important"><p>This option allows you to pay using <b>Litecoin</b>. The transaction details are provided on the next page to complete your purchase.</p></div>
                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="margin-top:50px"><button ng-show="!loaderLTC" class="btn btn-success" style="vertical-align:central" ng-click="loaderLTC=true;bitCoinPurchase('LTC');">Pay with LiteCoin</button><span ng-show="loaderLTC"><img src="~/Content/loader.gif" /></span></div>
                        </div>
                    </div>

                    <div class="panel-body" style="min-height:230px;text-align:center;font-size:16px;padding-top:0px !important" ng-hide="currencyToPay=='(ETH)'">
                        <div class="col-sm-3 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <header class="panel-heading hidden-lg hidden-md hidden-sm visible-xs">Payment Method</header>
                            <img src="~/Content/DashCoin2.png" style="height:132px" />
                        </div>
                        <div class="col-sm-5 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="padding:10px;vertical-align:middle;height:150px;text-align:left; padding-top:40px !important"><p>This option allows you to pay using <b>Dash</b>. The transaction details are provided on the next page to complete your purchase.</p></div>
                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px">
                            <div style="margin-top:50px"><button ng-show="!loaderDSC" class="btn btn-success" style="vertical-align:central" ng-click="loaderDSC=true;bitCoinPurchase('DASH');">Pay with Dash</button><span ng-show="loaderDSC"><img src="~/Content/loader.gif" /></span></div>
                        </div>
                    </div>

                    <div style="text-align:center;padding-bottom:30px">
                        <button class="btn btn-danger" ng-click="proceed=false" style="margin-top:12px">Return</button>
                    </div>
                    
                </section>

                <section class="panel" ng-show="!proceed && !showInvoice &&showBitCoinInfo">
                    <header class="panel-heading">
                        <i class="fa fa-btc"></i> Crypto currency transaction details
                    </header>
                    <div style="padding:15px">
                        <div class="col-sm-8 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px;padding-bottom:5px;text-align:center">
                            <header class="panel-heading">Transaction Details</header>
                            <div style="padding:15px">
                                <p>Use the transaction details to complete your order. Amount <b>{{objTransaction.ConvertedAmount}}&nbsp;{{objTransaction.Target_Currency}}</b></p>
                                <p>Wallet Address:&nbsp;<br/><b style="font-size:11px">{{objTransaction.TargetWalletAccount}}</b></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12" style="border:1px solid;border-color:lightgray;height:200px;padding-left:0px;padding-right:0px;text-align:center">
                            <header class="panel-heading">QR Code</header>
                            <img ng-src="{{TrustedviewerFullFilePath}}" style="height:135px" />
                        </div>
                        <div style="text-align:center">
                            <button class="btn btn-danger" ng-click="proceed=true;showBitCoinInfo=false" style="margin-top:12px;margin-bottom:25px">Return</button>
                        </div>
                    </div>
                    
                </section>

                <section class="panel" ng-show="showInvoice">
                    <div class="panel-body invoice">
                        <div class="invoice-header">
                            <div class="invoice-title col-md-3 col-xs-2">
                                <h1>invoice</h1>
                            </div>
                            <div class="invoice-info col-md-9 col-xs-10">
                                <div class="pull-right">
                                    <div class="col-md-6 col-sm-6 pull-left">
                                        <p>
                                            BTC PRO INC <br />
                                            22 Marine Parade <br />
                                            A9 Cork St, Belize City <br />
                                            Belize
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 pull-right">
                                        <p>
                                            Email : info@btcpro.co<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row invoice-to">
                            <div class="col-md-4 col-sm-4 pull-left">
                                <h4>Invoice To:</h4>
                                <h2>{{address.Fullname}}</h2>
                                <p>
                                    {{address.AddressLine1}}<br>
                                    {{address.AddressLine2}}<br>
                                    {{address.City}},{{address.State}},{{address.Country}}<br>
                                    {{address.EmailId}}
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-5 pull-right">
                                <div class="row">
                                    <div class="col-md-4 col-sm-5 inv-label">Invoice #</div>
                                    <div class="col-md-8 col-sm-7">233426</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4 col-sm-5 inv-label">Date #</div>
                                    <div class="col-md-8 col-sm-7">{{ today | date }}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 inv-label">
                                        <h3>TOTAL</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <h1 class="amnt-value">{{payamount | currency:currencyToPay+' '}}</h1>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item Description</th>
                                    <th class="text-center">Unit Cost</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <h4>Item 1</h4>
                                        <p>{{selectedProduct}} package</p>
                                    </td>
                                    <td class="text-center">{{minPay | currency:currencyToPay+' '}} - {{maxPay | currency:currencyToPay+' '}}</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">{{payamount | currency:currencyToPay+' '}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-8 col-xs-7 payment-method">
                                <h4>Payment Method</h4>
                                <p>Online</p>

                                <br>
                                <h3 class="inv-label itatic">Thank you for your business</h3>
                            </div>
                            <div class="col-md-4 col-xs-5 invoice-block pull-right">
                                <ul class="unstyled amounts">
                                    <li>Sub - Total amount : {{payamount | currency:currencyToPay + ' '}}</li>
                                    <li class="grand-total">Grand Total : {{payamount | currency:currencyToPay + ' '}}</li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="text-center invoice-btn">
                                <a class="btn btn-success btn-lg"><i class="fa fa-check"></i> Submit Invoice </a>
                                <a href="invoice_print.html" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-print"></i> Print </a>
                            </div>*@
                    </div>
                </section>

            </div>
            <!-- page end-->
        </div>
    </div>
</section>

<!--main content end-->
