
@{
    ViewBag.Title = "TeamStructureNew";
}

<script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart','orgchart']}]}"></script>
<script src="~/js/flot-chart/jquery.min.js"></script>
<link href="~/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />
<script src="~/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<link href="~/Scripts/getorgchart.css" rel="stylesheet" />
<script src="~/Scripts/getorgchart.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

@*<script src="~/Scripts/angular.min.js"></script>*@

@*<script src="~/Scripts/angular.min.js"></script>*@
<script src="~/app/scripts/TeamStructureNewController.js"></script>
<style>
    .field {
        margin-bottom: 15px !important;
        margin-top: 15px;
        color: black;
    }

    .errorcls {
        color: red;
        margin-top: -15px;
        font-size: small;
        padding-left: 0px;
    }

    .md-input-container {
        width: 100%;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 21px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
    }

</style>

<section class="wrapper" style="background-color:rgba(211, 211, 211, 0.5)">
    <div ng-app="app" ng-controller="TeamTreeNew" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-rotate-180 fa-code-fork" style="color:green"></i> My TEAM Structure
                      
                        @*<span class="pull-right"><a id="arrowLeft"><i class="fa fa-2x fa-arrow-circle-left"></i></a>&nbsp;&nbsp;<a id="arrowUp"><i class="fa fa-2x fa-arrow-circle-up"></i></a>&nbsp;&nbsp;<a id="arrowDown"><i class="fa fa-2x fa-arrow-circle-down"></i></a>&nbsp;&nbsp;<a id="arrowRight"><i class="fa fa-2x fa-arrow-circle-right"></i></a></span>*@
                    </header>
                    <div class="panel-body">
                        <div style="float:left"><input type="text" class="form-control" style="width:200px" placeholder="Username" id="searchUser" /></div><div style="float:left"><button id="searchBtn" style="height:32px" class="btn btn-info"><i class="fa fa-search"></i> Search</button></div>

                        <div ng-show="showTree" id="Tree" style="clear:both">
                            <div id="people"></div>

                            <div id="dialog" style="background-color:white;padding:0px">
                                <table class="table" style="background-color:white;font-size:0.8em">
                                    @*<tr>
                                        <td style="text-align:right;width:50%"><label>Full name:</label></td>
                                        <td><div id="fullname"></div></td>
                                    </tr>*@
                                    <tr>
                                        <td style="text-align:right;width:8em;padding:0.3em"><label>User Id:</label></td>
                                        <td style="padding:0.3em"><div id="username"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right;padding:0.3em"><label>Sponsor Id:</label></td>
                                        <td style="padding:0.3em"><div id="sponsorname"></div></td>
                                    </tr>
                                    @*<tr>
                                        <td style="text-align:right"><label>Package:</label></td>
                                        <td><div id="package"></div></td>
                                    </tr>*@
                                    <tr><td colspan="2" style="text-align:center;background-color:antiquewhite;color:#d4a521"><b>Total Business</b></td></tr>
                                    <tr>
                                        <td style="text-align:right;padding:0.3em"><label>Left side $:</label></td>
                                        <td style="padding:0.3em"><div id="totalbusinessleft"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right;padding:0.3em"><label>Right side $:</label></td>
                                        <td style="padding:0.3em"><div id="totalbusinessright"></div></td>
                                    </tr>
                                    <tr><td colspan="2" style="text-align:center;background-color:antiquewhite;color:#d4a521"><b>Current Week Business</b></td></tr>
                                    <tr>
                                        <td style="text-align:right;padding:0.3em"><label>Left side $:</label></td>
                                        <td style="padding:0.3em"><div id="businessleft"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right;padding:0.3em"><label>Right side $:</label></td>
                                        <td style="padding:0.3em"><div id="businessright"></div></td>
                                    </tr>
                                    @*<tr>
                                        <td style="text-align:right"><label>Achievement:</label></td>
                                        <td><div id="achievement"></div></td>
                                    </tr>*@
                                </table>
                                <div style="text-align:center;margin-bottom:10px;margin-top:-12px"><button id="newMember" class="btn btn-info" style="font-size:1em">Click to view Tree</button></div>
                            </div>

                        </div>

                        <div ng-show="!showTree && step1 && !step2 " id="JoinForm" style="text-align:center">
                            <h3>Select Package</h3><br />
                            <label>Current Balance: <span style="color:green">{{walletBalance | currency}}</span></label>
                            <table style="width:30%;margin-left:35%" class="table table-striped">
                                <tr>
                                    <td style="width:10%;vertical-align:middle"><input type="radio" ng-model="selectedOption" ng-click="payamount_click()" name="selPackage" value="P" /></td>
                                    <td style="width:30%"><img src="~/Content/pluto1.png" style="height:50px;width:50px" /></td>
                                    <td style="width:30%;vertical-align:middle"><label>Pluto</label></td>
                                    <td style="width:30%;vertical-align:middle">20$ - 99$</td>
                                </tr>
                                <tr>
                                    <td style="width:10%;vertical-align:middle"><input type="radio" ng-model="selectedOption" ng-click="payamount_click()" name="selPackage" value="J" /></td>
                                    <td style="width:30%"><img src="~/Content/Jupiter1.png" style="height:50px;width:50px" /></td>
                                    <td style="width:30%;vertical-align:middle"><label>Jupiter</label></td>
                                    <td style="width:30%;vertical-align:middle">100$ - 2999$</td>
                                </tr>
                                <tr>
                                    <td style="width:10%;vertical-align:middle"><input type="radio" ng-model="selectedOption" ng-click="payamount_click()" name="selPackage" value="E" /></td>
                                    <td style="width:30%"><img src="~/Content/Earth1.png" style="height:50px;width:50px" /></td>
                                    <td style="width:30%;vertical-align:middle"><label>Earth</label></td>
                                    <td style="width:30%;vertical-align:middle">3000$ - 5000$</td>
                                </tr>
                                <tr>
                                    <td style="width:10%;vertical-align: middle"><input type="radio" ng-model="selectedOption" ng-click="payamount_click()" name="selPackage" value="M" /></td>
                                    <td style="width:30%"><img src="~/Content/Mercury1.png" style="height:50px;width:50px" /></td>
                                    <td style="width:30%;vertical-align:middle"><label>Mercury</label></td>
                                    <td style="width:30%;vertical-align:middle">10000$</td>
                                </tr>
                            </table>
                            <div>
                                <label>Enter Package Amount ($) :&nbsp;&nbsp;</label><span><input type="number" ng-model="payamount" min="minPay" max="maxPay" ng-change="payamount_validate()" /></span><br /><br />
                                <label>{{errmsg}}</label><br />
                                @*{{errmsg==''}}|{{payamount>0}}|{{payamount>=minPay}}|{{payamount<=maxPay}}|{{payamount<=walletBalance}}*@
                                <button class="btn btn-info" ng-show="errmsg=='' && payamount>0 && payamount>=minPay && payamount<=maxPay && payamount<=walletBalance" ng-click="buy()">Buy</button>
                            </div>
                            <br />
                        </div>

                        <div id="NewUserForm" ng-show="!showTree && !step1 && step2">
                            <form name="Registration" class="form-signin" style="height:675px;margin-top:0px;background-color:hsla(0, 0%, 83%, 0.23)">
                                <h2 class="form-signin-heading">registration now</h2>
                                <div class="login-wrap" style="padding-bottom:0px;padding-top:0px;overflow:hidden auto">
                                    <div class="user-login-info" ng-show="!isComplete && !isRegistered" style="margin-bottom:0px;background-color:hsla(0, 0%, 83%, 0.23)">

                                        @*<div class="col-md-12">
                                                <md-input-container style="width:100%;margin:10px">
                                                    <label>Sponsor name</label>
                                                    <input name="ReferrerName" ng-model="registerModel.ReferrerName" ng-change="validation1()" ng-blur="checkReferrername()" ng-required />
                                                    <div class="errorcls">{{errorModel.ReferrerName}}</div>
                                                </md-input-container>
                                            </div>*@
                                        <div class="col-md-12" style="margin-top:40px">
                                            <md-input-container style="width:100%;margin:10px">
                                                <label>Member name</label>
                                                <input name="Fullname" ng-model="registerModel.FullName" ng-required ng-change="validation2()" />  @*ng-pattern="/^[a-zA-Z ]*$/"*@
                                                <div class="errorcls">{{errorModel.FullName}}</div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container style="width:100%;margin:10px">
                                                <label>Email Id</label>
                                                <input type="email" name="Email" ng-model="registerModel.EmailId" ng-required ng-change="validation3()" ng-blur="checkEmailId()" />
                                                <div class="errorcls">{{errorModel.EmailId}}</div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container style="width:100%;margin:10px">
                                                <label>Unique Username</label>
                                                <input name="Username" ng-model="registerModel.UserName" ng-keyup="validation4()" ng-blur="checkUsername()" ng-pattern="/^[A-Za-z0-9]*$/" ng-minlength="6" ng-maxlength="30" ng-required />
                                                <div class="errorcls">{{errorModel.UserName}}</div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container style="margin:10px">
                                                <label>Password</label>
                                                <input type="password" name="Password" ng-model="registerModel.Password" ng-change="validation5()" ng-pattern="/^[A-Za-z0-9]*$/" ng-minlength="6" ng-maxlength="14" ng-required />
                                                <div class="errorcls">{{errorModel.Password}}</div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container style="margin:10px">
                                                <label>ReType Password</label>
                                                <input type="password" name="Password2" ng-model="registerModel.ConfirmPassword" ng-change="validation6()" ng-required />
                                                <div class="errorcls">{{errorModel.ConfirmPassword}}</div>
                                            </md-input-container>
                                        </div>

                                        @*<div style="margin-left:28px;margin-right:10px">
                                                <p style="margin-bottom:10px;font-weight:700;color:rgba(0,0,0,0.54);font-size:xx-small">Position</p>
                                                <input type="radio" ng-model="registerModel.BinaryPosition" value="L" name="BinaryPos" checked="checked" />Left &nbsp;&nbsp;&nbsp; <input type="radio" ng-model="registerModel.BinaryPosition" value="R" name="BinaryPos" />Right
                                                <hr style="margin-top:10px;border-top-color:#d4d2d2" />
                                            </div>*@
                                    </div>
                                </div>

                                <div style="text-align:center">

                                    <input type="button" value="PROCEED" class="btn btn-info" ng-click="showSubmit=true;register()" style="height:35px;width:30%;margin-bottom:30px;" ng-show="!isComplete && !isRegistered" />
                                </div>

                                <div style="width:100%;background:skyblue;text-align:center" ng-show="isComplete && !isRegistered">
                                    <br />
                                    <div class="pull-left" style="margin-left:20px;cursor:pointer"><i class="fa fa-arrow-circle-o-left" title="Previous page" ng-click="isComplete=false"></i></div><span style="color:blue;padding:5px;font-size:16px">Terms &amp; Conditions</span><span><i class="fa fa-exclamation-circle" style="margin-left:5px;color:#e20824" title="Terms and Conditions must be accepted"></i></span> <br /><br />
                                </div>
                                <div ng-show="isComplete && !isRegistered" style="height:400px;overflow-y:scroll;margin-left:2px">

                                    <div>

                                        <pre>
                     
Btcpro Terms and Conditions
By using, accessing, ordering services, buying
memberships,buying packages, downloading documents,
selling memberships,and selling packages from this
Website, you hereby agree to be bound by all of the
following terms and conditions:
1.Modifications
  We reserve the right at any time to:
  - Change the terms and conditions of this Agreement;
  - Enhance, add to, modify or discontinue the Site or
    other Offerings, or any portion of the Site or other
    Offerings, at any time in our sole discretion.
    From time to time, we reserve the right, in our sole
    discretion, to modify, update, add to, discontinue,
    remove, revise or otherwise change any portion of
    this Agreement, in whole or in part, at any time.
    For changes to this Agreement that we consider to
    be material, we will place a notice on the Site by
    revising the link on the homepage to read 
    substantially as 'Updated Terms of Use' for a
    reasonable amount of time. If you provide
    information to us, access or use the Site or 
    participate in any Offering in any way after this
    Agreement has been changed, you will be deemed to
    have read, understood and unconditionally consented
    to and agreed to such changes. The most current
    version of this Agreement will be available on the
    Site and will supersede all previous versions of this
    Agreement.
2. Use of Site
  You must obtain access to the Internet and pay any
  service fees associated with such access to use the
  Site. In addition, you must provide all equipment 
  necessary for you to access the Internet. You are
  and will remain solely responsible for the purchase,
  hookup, installation, loading, operation and
  maintenance of any hardware, software, telephone
  (cable or other) service, and the Internet access
  service to your personal computer and for all
  related costs. You are solely responsible for
  scanning your hardware and software for computer
  viruses and other related problems before you use 
  them. We expressly disclaim any liability or
  responsibility for any errors or failures relating
  to the malfunction or failure of your hardware or
  software in connection with the use of the Site
  or Offerings. Unless otherwise specified, Btcpro,
  its affiliates and subsidiaries Web Sites are for
  your personal use. You may not modify, copy,
  distribute, transmit, display, reproduce, publish,
  license, create derivative works from, transfer,
  or sell any information obtained from Btcpro’s
  Web Sites. Btcpro authorizes you to view and
  download the materials at this Web Site only for
  your personal, non-commercial use, provided that
  you retain all copyright and other proprietary
  notices contained in the original materials on
  any copies of the materials. You may not modify
  the materials at this Site in any way or 
  reproduce or publicly display, perform, or
  distribute or otherwise use them for any public
  or commercial purpose. For purposes of these
  Terms, any use of these materials on any other
  Web site or networked computer environment for
  any purpose is prohibited. The materials at this
  Site are copyrighted and any unauthorized use of
  any materials at this Site may violate copyright,
  trademark, and other laws. If you breach any of
  these Terms, your authorization to use this Site
  automatically terminates and you must immediately
  destroy any downloaded or printed materials.
3. Terminating this Agreement
  This Agreement will remain in effect as long as
  you access the Website, sell or buy any membership,
  sell or buy any package, or order any service from
  the Website. We reserve the right to terminate this
  Agreement without notice and/or refuse to sell to
  anyone who We believe, in Our sole discretion,
  (i)   has violated any of the terms of this Agreement,
  (ii)  is abusing the Products or the services we
        provide, or 
  (iii) is unable to provide us with sufficient
        information to allow us to properly identify
        the customer’s, independent distributor or
        club member real name, address, telephone
        number, legal identification card, passport
        or other information.
4. Individuals, Corporations, Tax Exempt Entities
  You represent and warrant that you are eighteen (18)
  years of age or older, or if you are under the age of
  eighteen (18) you are at least the age of seventeen
  (17) and are accessing the Site with the knowledge
  and consent of your parent or legal guardian, who
  will also be deemed to have agreed to this Agreement.
  Certain features on this Site (including, but not 
  limited to, user registration) and certain Offerings
  may be subject to heightened age and/or other
  eligibility requirements.
  Btcpro will only consider for acceptance as club
  member, Independent distributor or club member
  that fall into one of the following categories:
  a.) Individuals who are of the legal age. 
  b.) Married couples of which at least one
      is under the legal age requirement.
  c.) Corporations in good standing in the state,
      province, or country of their incorporation.
5. Proper Completion of Documents
   All entries in the Btcpro websites must be
   completely and properly filled out and
   acceptance by a check mark of the Independent
   Distributor Agreement, Terms and Conditions,
   Policies and Procedures, Income Disclosure,
   Spam and Privacy policies is indicative of an
   electronic signature used in signing the Btcpro
   member agreement, terms and conditions and 
   privacy policy. Btcpro will not be responsible
   for loss of commissions or bonuses or for 
   delays of registrations due to:
   a) Errors by Club Members sending in wrong
      information for themselves or on behalf of
      clients.
   b) Delays or errors caused by weak Internet
      connection, virus in your computer, hacker
      attack to your computer, blocking your 
      sign up transmission.
6. Disclaimer.
  The materials provided at this site are provided
 ‘as is’ without any kind including warranties of
  merchantability, fitness for a particular purpose,
  or non-infringement of intellectual property.
  Btcpro further does not warrant the accuracy and
  completeness of the materials at this Site. Btcpro
  may make changes to the materials at this Site, or
  to the products, prices or compensation plan
  described in them, at any time without prior notice.
  The materials at this Site may be out of date,
  and Btcpro makes no commitment to update the
  materials at this Site. Information published at
  this Site may refer to products; programs or
  services that are intended for use only in a
  specific country and may not be used or relied upon
  in any other country. Applicable law may not allow
  the exclusion of implied warranties, so the above
  exclusion may not apply to you.
7. Termination/Access Restriction.
  Btcpro reserves the right, in its sole discretion,
  to terminate your access to any or all Btcpro Web
  Sites, back office and the related services or any
  portion thereof at any time, without notice. Reasons
  for termination include but are not limited to:
  Defamation, Slander or Libel of Btcpro or other
  members
  A. Falsely promoting Btcpro in any way that causes
     damages to Btcpro’s reputation
  B. Promising or guaranteeing any “returns on
     investment”
  C. Transmit, post, send, upload, distribute, submit
     or otherwise make available any content that is
     unlawful or infringes, violates or misappropriates
     any patent, trademark, trade identity right,
     trade secret, publicity right, privacy right,
     copyright or any other intellectual property or
     any other rights of any third party;
  D. Transmit, post, send, upload, distribute, submit
     or otherwise make available any viruses, Trojan
     horses or other harmful, disruptive or destructive
     files or material that interferes with any third
     party's use and enjoyment of the Site;
  E. Violate any applicable local, state, federal or
     international law, rule or regulation;
  F. Transmit, post, send, upload, distribute, submit
     or otherwise make available through the Site any
     content containing any solicitation of funds,
     promotion, advertising, or solicitation for goods
     or services. You also hereby acknowledge that you
     are prohibited from soliciting other guests to join
     or become members of any commercial online service
     or other organization;
  G. Collect or harvest the information of any user or
     otherwise access the Site using automated means
     (including but not limited to harvesting bots,
     robots, spiders or scrapers); J. “frame”, “mirror”
     or “deep link” any part of the Site or other
     Offerings without our prior written authorization.
  H. Promising or guaranteeing any profit
  I. Promising or guaranteeing any passive income
  J. Using a false identity
  K. Btcpro is unable to verify identity
  L. Member owes money to the company
  M. Member failed to perform obligations as a member
     or distributor
  N. Unauthorized use of another’s account
  O. Violating any terms and conditions
  P. Other misconduct and violations
  Q. Violations of law of any Country or State
8. Modification of These Terms of Use
    Btcpro may revise these Terms at any time by updating
    this posting. You should visit this page from time to
    time to review the then-current Terms because they 
    are binding on you. Certain provisions of these Terms
    may be superseded by expressly designated legal
    notices or terms located on particular pages at this
    Site.
9. Limitation of Liability
   In no event will Btcpro, its suppliers, or other third
   parties mentioned at this site be liable for any
   damages whatsoever (including, without limitation,
   those resulting from lost profits, lost data or
   business interruption) arising out of the use,
   inability to use, or the results of use of this site,
   any web sites linked to this site, or the materials
   or information contained at any of all such sites,
   whether based on warranty, contract, tort or any other
   legal theory and whether or not advised of the
   possibility of such damages, if your use of the
   materials or information from this site results in the
   need for servicing, repair or correction of equipment
   or data, you assume all cost thereof, applicable law
   may not allow the exclusion or limitation of
   incidental or consequential damages, so the above
   limitation or exclusion may not apply to you.
10. Indemnification
   You agree to defend, indemnify, and hold harmless
   Btcpro, its officers, directors, shareholders,
   employees, independent contractors, telecommunication 
   providers, and agents, from and against any and all
   claims, actions, loss, liabilities, expenses, costs,
   or demands, including without limitation legal and 
   accounting fees, for all damages directly, indirectly,
   and/or consequentially resulting or allegedly 
   resulting from Your misuse or inability to use the
   Website, or Your breach of any of these terms and 
   conditions of this Agreement. We shall promptly
   notify you by electronic mail of any such claim or
   suit, and cooperate fully (at Your expense) in the
   defense of such claim or suit. If we do not hear from
   you promptly, we reserve the right to defend such
   claim or suit and seek full recompense from you.
11. Membership Refund
   When a Btcpro Member applicant, enrolls and purchases 
   a Membership or package, Btcpro applies 45% of the
   membership value to the operations and administrative
   expenses and uses 55% to trade crypto currencies 
   with third party exchanges. As Btcpro distributed 
   all the payment instantly, So Btcpo cannot refund 
   any of your money from system. So all the membership
   packages and purchases are nonrefundable.
12. Electronic Signatures / Assent Required
   No one is authorized or allowed to access this Site
   or use the Services unless he, she or it has signed
   this Agreement. Such signature does not need to be
   a physical signature, since electronic acceptance
   of this Agreement is permitted by various jurisdictions’
   laws, such as the Electronic Signatures in Global and
   National Commerce Act (E-Sign Act) and similar 
   legislation. You manifest your agreement to this
   Agreement by taking any act demonstrating your assent 
   thereto. Most likely, you have clicked or will click a 
   button containing the words “I agree” or some similar
   syntax. You should understand that this has the same
   legal effect as you placing your physical signature
   on any other legal contract. If you click any link,
   button or other device provided to you in any part of
   our Site’s interface, then you have legally agreed to
   all of these Terms and Conditions. Additionally, by
   using any part of our Site or Services in any manner,
   including the Exchange, you understand and agree that
   such use constitutes your affirmation of your complete
   and unconditional No one is authorized or allowed to 
   access this Site or use the Services unless he, she or 
   it has signed this Agreement. Such signature does not
   need to be a physical signature, since electronic
   acceptance of this Agreement is permitted by 
   various jurisdictions’ laws, such as the Electronic
   Signatures in Global and National Commerce Act
   (E-Sign Act) acceptance to all of the terms in this
   Agreement. Even if you fail to sign this Agreement,
   you understand and agree that you are still bound by
   the terms of this Agreement by virtue of your viewing
   the Site or using any portion of the Site or our
   Services.
13. Not a bank or Trust account:
   Your account with us (and any available currency
   therein) is not a bank account, a trust account,
   a securities account, a credit card or deposit 
   account. Our services are not financial instruments.
   No interest will be paid on any funds or currency
   you use to purchase or trade for any other currency,
   bitcoin, or any other thing with other members,
   and all assets, including such currency or bitcoin,
   that are directly held by the company are not
   insured by the company or any government agency. 
   All currency bought and sold by you will be
   associated with your account until used to purchase
   or sell from or with other members or until
   withdrawn by you.
14. Disclaimer:
   Risk Factors Btcpro is not responsible for any loss or
   damage incurred by you as a result of your use of our
   Services or for your failure to understand the nature
   of virtual currencies or the market for such 
   currencies. All we are providing you is a method by 
   which you can exchange, trade, and store certain
   virtual currencies, and we make no representations
   or warranties concerning the value, stability, or
   legality of any such virtual currencies.
   You acknowledge the following risks related to your use
   of the Site and the Services:
   1. The risk of loss in trading virtual currencies such
      as Bitcoin (collectively, “Digital Assets”) may be
      substantial and losses may occur over a short period
      of time.
   2. The price and liquidity of Digital Assets has been
      subject to large fluctuations in the past and may be
      subject to large fluctuations in the future.
   3. Digital Assets are not legal tender, not backed
      by any government, and accounts and value balances
      are not subject to Federal Deposit Insurance 
      Corporation or Securities Investor Protection 
      Corporation protections.
   4. Legislative and regulatory changes or actions at
      the state, federal or international level may
      adversely affect the use, transfer, exchange and 
     value of Digital Assets.
   5. Transactions in Digital Assets may be irreversible,
      and accordingly, losses due to fraudulent or
      accidental transactions may not be recoverable.
   6. Some Digital Assets transactions shall be deemed to
      be made when recorded on a public ledger, which is 
      not necessarily the date or time that the customer
      initiates the transactions.
   7. The value of Digital Assets may be derived from the
      continued willingness of market participants to
      exchange fiat currencies for Digital Assets, which
      may result in the potential for permanent and total
      loss of value of a particular virtual currency
      should the market for that virtual currency 
      disappear.
   8. There is no assurance that a person who accepts
      Digital Assets as a payment today will continue to
      do so in the future.
   9. The nature of Digital Assets may lead to an 
      increased risk of fraud or cyber attack, and may
      mean that technological difficulties experienced 
      by the Company may prevent the access or use of
      your Digital Assets.
  10. Your account with Btcpro may not be sufficient to 
      cover all losses incurred by you.
      You acknowledge and agree that you are solely
      responsible for determining the nature, potential
      value, suitability, and appropriateness of those
      risks for you, and that Btcpro does not give advice
      or recommendations regarding Digital Assets,
      including the suitability and appropriateness of,
      and investment strategies for, Digital Assets. You 
      acknowledge and agree that you shall access and use
      the Services and the Site at your own risk. This 
      brief statement does not disclose all of the risks
      associated with trading, exchanging, and storing 
      in Digital Assets. You should, therefore, carefully
      consider whether such trading, exchanging and
      storing’s are suitable for you in light of your 
      circumstances and financial resources. You should
      be aware that you may sustain a total loss of the
      funds in your Account (as defined below), and that
      under certain market conditions, you may find it
      difficult or impossible to liquidate a position.
 
15. Virtual Currency Values
    You understand and agree that, due to technical and
    other restrictions, the virtual currency values 
    displayed on our Site may be delayed and therefore
    not reflect the current, live market value of such
    currency.
    Nonetheless, you agree that the values displayed
    on our Site control your Account and your use of
    the Site and Services.
16. Your Account Registration Data
    In order to use Btcpro systems, you must create an
    account with us (your 'Account'). Your Account will
    be used to store various virtual currency amounts as
    deposited by you. In creating your Account, you may
    be asked to provide certain registration details and 
    information. In order to verify your identity, some
    of this information may be personal, private or 
    detailed. In connection with completing the online
    registration form, you agree to provide true, accurate,
    current and complete information about yourself as
    prompted by the registration form (such information 
    being the 'Registration Data');and you further agree
    to maintain and promptly update the Registration Data
    to keep it true, accurate, current and complete at all
    times while you are a Member. While we use reasonable
    efforts to protect the personal information of others
    from inadvertent release or misappropriation, we are
    not responsible for the intentional or criminal acts 
    of third parties such as hackers or 'phishers'.
17. Changes to Registration Data
    You must promptly inform/update us of all changes, 
    including, but not limited to, changes in your 
    address and changes in any virtual or fiat currency
    account used by you in connection with the Site and
    Services, if applicable. If you provide any 
    information that is untrue, inaccurate, not current
    or incomplete, or if we or any of our authorized
    agents have reasonable grounds to suspect that such
    information is untrue, inaccurate, not current or
    incomplete, we have the right to suspend or terminate
    your Account and refuse any and all current or future
    use of the Site and Services by you, as well as
    subject you to civil liability or refer you to the
    appropriate law enforcement authorities for criminal
    prosecution. We shall not be liable to make any
    compensation, monetary or otherwise, following such
    suspension, termination or inability to use the Site
    or the Services. You are responsible for any fees
    that the Company incurs with respect to your Account.
    If you fail to reimburse us for any fees within 
    thirty (30) calendar days of our initial demand for
    reimbursement, you agree that you will pay us 0.50 BTC
    as liquidated damages, being a genuine pre-estimate
    of loss and damage suffered by the Btcpro,
    as well as any costs incurred by the Company for each 
    fee incurred plus interest on the amount owed at a 
    rate equal to the lesser of 
    (i) 1% per month or 
    (ii) the maximum rate permitted by applicable law.
18. Your Account Responsibility
    You are entirely responsible for any and all
    activities conducted through your Account. You
    agree to notify us immediately of any unauthorized
    use of your password or Member ID, as well as of
    any other breach of security. While we may implement
    certain monitoring procedures designed to alert us
    to fraudulent activity, we are not responsible for
    any unauthorized use of your Account, and you agree
    that you are responsible for such unauthorized
    use and for protecting the confidentiality of your
    password.
19. Account Transfers
    Control or use of your Account may be transferred
    or sold to a third party. To complete the process
    you will need to use the form “REQUEST FOR THE
    TRANSFER OF A BTCPRO BUSINESS CENTER”. You will send
    the form as requested and notarized to the email
    compliance@tradecoinclub.com. Btcpro compliance
    department will verify the request and  the process
    of an account transfer will be complete in 7 business
    days. If any information is missing, compliance 
    department will notify the current account owner 
    and could denied the request.
    A. To complete the process a fee of 0.05BTC will be
       apply.
    B. The Assignor is prevented from making new
       membership in the club for a period of 90 days,
       counting from the date held.
    C. All points accumulated in the binary will be
       flush upon transfer.
    D. Affiliates who sign this agreement agree not
       to communicate or contact any members of their
       downline for a period of one year from the date
       of transfer. 
       Any refusal to comply with this agreement will
       result in the immediate termination of this
       account and the eventual adoption of further
       measures.
    E. We disclaim any and all liability arising from 
       fraudulent entry and use of the Site. If a User 
       fraudulently obtains access to your Account, we
       may terminate the User’s access and membership
       immediately and take all necessary and
       appropriate actions under applicable federal,
       state, and international laws.
20. Password Security:
    As part of our security measures and policies,
    please note that we will never ask you, for any
    reason, whether by email, regular mail or 
    telephone, to disclose your account password.
    Password inquiries will only be conducted online
    and only after you have signed onto the company’s
    site. We will never send you embedded links in an
    email requesting that you sign onto the site by
    clicking such a link. If you receive an embedded
    link by email, claiming to be from us, you should
    not open it or click on the link. The email in
    not from us and is likely fraudulent. Never give 
    your account password to anyone whom you do not
    intend to authorize to use your account. 20.Third
    Party Account Information In order to provide you
    with the Services, you may also be required to
    disclose certain other third-party account 
    information to us, including, without limitation,
    your Bitcoin addresses and related information.
    As indicated elsewhere in this Agreement, we are
    not responsible for any unauthorized use of your
    Account with the Company or any third-party accounts.
21. Funding Your Account
    After creating your Account with Btcpro, you
    will be able to fund your Account by transferring, 
    from your bitcoin account to the Btcpro account
    No fees are charged by us for funding your Account.
    After funding your account please take a screenshot
    of the transfer and upload it.
22. No Reversal of Trades, Deposits or Payments
    Once an order has been executed (transfer user to
    user, deposit BTC in your cash wallet or request
    of payout) and the appropriate currencies have
    been credited and debited from the Members’
    Accounts, we will not be able to reverse the 
    transaction in any circumstances.
23. Service Interruption
    From time to time due to technological factors,
    scheduled software uploads and other factors
    beyond or within our control,the Site, or other
    Services may be temporarily interrupted.
    You agree that we are not liable for any loss
    and damage arising from such interruption and 
    you agree to hold us harmless against any such
    interruption of or inability to access the Site
    or Services.
24. Withdrawing Currency
    In addition to allowing Members to trade virtual
    currency,Btcpro allows Members to withdraw virtual
    currency upon request to us. Members may withdraw
    all or some of their virtual currency, and there
    is no minimum amount of virtual currency required 
    to maintain your status as a Member (however,
    as indicated above, you may only trade or sell
    virtual currency up to the amount shown as 
    belonging to you in the ledger maintained in your
    wallet). ABC currency will be transferred from the
    Exchange’s account to the specific Bitcoin address 
    provided by the Member. Withdrawals will generally 
    take up to three (3) business days to complete,
    provided that larger withdrawals may take up to
    thirty (30) business days to complete and that any
    withdrawal may be delayed as necessary to comply
    with applicable law and/or the Exchange’s customer
    identification and antimony laundering procedures.
                    </pre>
                                    </div>
                                </div>
                                <div style="text-align:center">
                                    <input type="button" value="ACCEPT & SUBMIT" class="btn btn-info" ng-click="showSubmit=false;registration()" style="height:35px;width:35%;margin-bottom:20px;margin-top:25px" ng-show="isComplete && !isRegistered && showSubmit" />
                                    <div style="text-align:center;padding-bottom:25px;padding-top:50px" ng-show="isComplete && isRegistered">
                                        <h2>Joining Successful!!!</h2>
                                        <br />
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        var member = "";
        function GetData(){
            var data = $.ajax({
                type: "GET",
                url: "/Home/GetTeamByName?Member="+member,
                dataType: "json",
                success: function (data) {
                    var d = data.Members;
                    var orgchart = new getOrgChart(document.getElementById("people"), {
                        theme: "belinda",
                        color: "teal",
                        dataSource: d,
                        enableSearch: false,
                        enableZoom: false,
                        enablePrint: true,
                        enableEdit: false,
                        enableDetailsView: false,
                        scale: 0.20,
                        linkType: "B",
                        orientation: getOrgChart.RO_TOP,
                        expandToLevel: 5,
                        levelSeparation: 200,
                        //idField: "RegistrationId",
                        //parentIdField: "UplineRegistrationId",
                        //primaryFields: ["Username"],
                        photoFields: ["pic"],
                        clickNodeEvent: clickHandler,
                        insertNodeEvent: insertNodeEvent,
                        removeNodeEvent: removeNodeEvent,
                        updateNodeEvent: updateNodeEvent,
                        updatedNodeEvent: updatedNodeEvent,

                    });
                }
            });
        }

        GetData();

        $("#newMember").click(function () {
            member = $("#username").text();
            $("#dialog").dialog("close");
            GetData();
        });

        $("#searchBtn").click(function () {
            member = $("#searchUser").val();
            GetData();
        });

        $("#dialog").dialog({
            autoOpen: false,
            width: '13em'
        });

        function clickHandler(sender, args) {
            if (!args.node.data.isMember && args.node.data.pic != "") {
                var ans = confirm("Are you sure you want to join a new member?");
                if (ans) {
                    //accessing $scope variables within Javascript
                    var sel = 'div[ng-controller="TeamTreeNew"]';
                    var $scope = angular.element(sel).scope();
                    $scope.showTree = false;
                    $scope.step1 = true;
                    $scope.uplineId = args.node.parent.data.UplineRegistrationId;
                    $scope.binarypos = args.node.data.position;
                    $scope.$apply();
                }
            } else {
                if (args.node.data.isMember && args.node.data.pic != "") {
                    $("#fullname").text(args.node.data.fullname);
                    $("#username").text(args.node.data.username);
                    $("#sponsorname").text(args.node.data.sponsorname);
                    $("#package").text(args.node.data.package);
                    $("#totalbusinessleft").text(args.node.data.totalbusinessleft);
                    $("#totalbusinessright").text(args.node.data.totalbusinessright);
                    $("#businessleft").text(args.node.data.businessleft);
                    $("#businessright").text(args.node.data.businessright);
                    $("#achievement").text("");

                    $("#dialog").dialog("open");
                }
            }
        }

        //using System;
        //using System.Collections.Generic;
        //using System.Linq;
        //using System.Text;
        //namespace libCoinPaymentsNET
        //{ 
        //    public class CoinPayments
        //{ 
        //    private string s_privkey = "";
        //    private string s_pubkey = "";
        //    private static readonly Encoding encoding = Encoding.UTF8;
        //    public CoinPayments(string privkey, string pubkey) {
        //        s_privkey = privkey;
        //        s_pubkey = pubkey;
        //        if (s_privkey.Length == 0 || s_pubkey.Length == 0)
        //        { 
        //            throw new ArgumentException("Private or Public Key is empty");
        //        }
        //    }
        //    public Dictionary CallAPI(string cmd, SortedList parms = null)
        //    {
        //        if (parms == null) {
        //            parms = new SortedList();
        //        } 
        //        parms["version"] = "1";
        //        parms["key"] = s_pubkey;
        //        parms["cmd"] = cmd;
        //        string post_data = "";
        //        foreach (KeyValuePair parm in parms) 
        //        { 
        //        if (post_data.Length > 0)
        //        { 
        //            post_data += "&";
        //        }
        //        post_data += parm.Key + "=" + Uri.EscapeDataString(parm.Value); 
        //    }
        //    byte [] keyBytes = encoding.GetBytes(s_privkey);
        //    byte [] postBytes = encoding.GetBytes(post_data); 
        //    var hmacsha512 = new System.Security.Cryptography.HMACSHA512(keyBytes);
        //    string hmac = BitConverter.ToString(hmacsha512.ComputeHash(postBytes)).Replace("-", string.Empty);
        //    // do the post: 
        //    System.Net.WebClient cl = new System.Net.WebClient(); 
        //    cl.Headers.Add("Content-Type", "application/x-www-form-urlencoded");
        //    cl.Headers.Add("HMAC", hmac);
        //    cl.Encoding = encoding;
        //    var ret = new Dictionary();
        //        try { string resp = cl.UploadString("https://www.coinpayments.net/api.php", post_data);
        //            var decoder = new System.Web.Script.Serialization.JavaScriptSerializer();
        //            ret = decoder.Deserialize>(resp);
        //    } catch (System.Net.WebException e)
        //    { 
        //        ret["error"] = "Exception while contacting CoinPayments.net: " + e.Message;
        //    } catch (Exception e) { 
        //    ret["error"] = "Unknown exception: " + e.Message;
        //    } 
        //    return ret;
        //    }
        //    } 
        //} 

        function insertNodeEvent(sender, args) {
            alert("Insert event fired");
            return false;
        }
        function removeNodeEvent(sender, args) {
            alert("Delete event fired");
            return false;
        }
        function updateNodeEvent(sender, args) {
            alert("Update event fired");
            return false;
        }
        function updatedNodeEvent(sender, args) {
            alert("Updated event fired");
            return false;
        }

        function showMember() {
            alert("Hello");
        }

        var interval;

        function handler(command) {
            var accelerator = 100;
            interval = setInterval(function () {
                orgchart.move(command, accelerator);
                if (accelerator > 10) {
                    accelerator--;
                }
            }, 20);
        }
        document.getElementById("arrowLeft").addEventListener("mousedown", function () {
            handler("right");
        });

        document.getElementById("arrowDown").addEventListener("mousedown", function () {
            handler("down");
        });

        document.getElementById("arrowRight").addEventListener("mousedown", function () {
            handler("left");
        });

        document.getElementById("arrowUp").addEventListener("mousedown", function () {
            handler("up");
        });

        document.getElementById("arrowLeft").addEventListener("mouseup", function () {
            clearInterval(interval);
        });

        document.getElementById("arrowDown").addEventListener("mouseup", function () {
            clearInterval(interval);
        });

        document.getElementById("arrowRight").addEventListener("mouseup", function () {
            clearInterval(interval);
        });

        document.getElementById("arrowUp").addEventListener("mouseup", function () {
            clearInterval(interval);
        });
    });
</script>
