<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/scripts/TicketController.js"></script>

<section class="wrapper" style="background-color:rgba(211, 211, 211, 0.5)">
    <div ng-app="app" ng-controller="Ticket" ng-cloak>   
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-sitemap" style="color:green"></i> Account Deposit - BitCoin
                    </header>
                    <div class="panel-body">
                        <h3>Bitcoin Account No:- <span style="color:green">1BosRJq6gaiWP58oYePF9GL3MZBr9XrJuk</span></h3>
                        <br/>
                        <h4>After transferring the amount, submit ticket to Support.</h4>
                        <br/>
                        <a ng-click="bitcoindeposit()" style="cursor:pointer;color:blue">Click here to create a support ticket</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


